$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(38, 137, 225);
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
    background-color: #fe9a00;
}

.nav-pills * {
    color: white;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }


}



/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
   /* text-align: center;*/
    border-bottom: 1px solid #e5e5e5;
    font-size: 16px;
    padding: 14px 33px 2px; 
    position: relative;   
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 25px;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.name {
    color: rgb(254, 154, 0);
    font-size: 34px;
    text-shadow: 1px 1px 0px white;

}

.icons {
    width: 40px;
}

.all-icons {
    margin-left: 195px;
    margin-bottom: 10px;
}

.devskills {
    color: rgb(112, 109, 109);
    background-color: white;
}

.marketing {
    color: black;
}

h4 {
    color: rgb(254, 154, 0);
    font-size: 18px;
     margin-top: 30px;
}

h5 {
    font-style: italic;
    margin-top: 25px;
    margin-bottom: 25px;
    line-height: 22px;
}

.logo {
    width: 700px;
    margin-bottom: -55px;
}

.opening-lines {
    line-height: 34px;
    color: white;
    font-size: 20px;
    text-align: center;
}

.link {
   color: #FDE5C5;
   font-size: 22px;
   border-bottom: 2px solid rgb(254, 154, 0);
}

.example-link {
    color: #FDE5C5;
    border-bottom: 2px solid #fe9a00;
}

.title {
    margin-left: 235px;
    font-size: 18px;
    color: rgb(248, 152, 29);
}

.end {
    padding-bottom: 15px;
}

.fix {
    margin-left: 60px;
}

.contact {
    margin-left: 221px;
    color: white;
}

/*.example-image {
    width: 128px;
margin-left: 485px;
position: absolute;
margin-bottom: -16px;
}*/

.example-image {
width: 100px;
border-radius: 50px;
height: 100px;
position: absolute;
right: 0;
margin-right: 30px;
border: 1px solid gray;
}

.todo {
    width: 100px;
border-radius: 50px;
height: 100px;
position: absolute;
right: 0;
margin-right: 30px;
border: 1px solid gray;
    margin-top: -55px;
}

.parse {
    padding-bottom: 45px;
}
